.blog-firs-screen {
  padding: 7.5rem 0;
}
.blog-firs-screen__container {
  max-width: 52rem;
}
.blog-firs-screen__title {
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 1.19444;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--white);
  margin-bottom: 1rem;
}
.blog-firs-screen__text {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.33333;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--aluminium);
  margin-bottom: 2.8125rem;
}

.blog-subscribe {
  max-width: 45rem;
  margin: 0 auto;
}
.blog-subscribe input {
  border: 1px solid var(--steel-gray);
  border-radius: 0.5rem;
  font-weight: 400;
  font-size: 0.88rem;
  line-height: 1.71429;
  color: var(--white);
  padding: 0.875rem 1.25rem;
  max-width: 35.44rem;
  width: 100%;
  background: transparent;
}
.blog-subscribe button {
  border-radius: 0.5rem;
  padding: 0.88rem 1.5rem;
  width: 8rem;
  height: 3.25rem;
  background: var(--navy-blue);
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--white);
}

@media (max-width: 1024px) {
  .blog-firs-screen {
    padding: 5.9375rem 0;
  }
  .blog-firs-screen__title {
    font-size: 4rem;
    line-height: 1;
    letter-spacing: -0.02em;
  }
}
@media (max-width: 350px) {
  .blog-firs-screen {
    padding: 5.3125rem 0;
  }
  .blog-firs-screen__title {
    font-size: 2.5rem;
    line-height: 1.2;
    letter-spacing: -0.01em;
  }
  .blog-subscribe input {
    margin-bottom: 0.5rem;
  }
  .blog-subscribe button {
    width: 100%;
  }
}
.blog-cards-section {
  padding: 7.5rem 0;
}
.blog-cards-section__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.16667;
  letter-spacing: -0.02em;
  color: var(--white);
  margin-bottom: 1rem;
}
.blog-cards-section__description {
  font-weight: 400;
  font-size: 0.88rem;
  line-height: 1.71429;
  color: var(--aluminium);
  max-width: 33.1875rem;
  margin-bottom: 3rem;
}

@media (max-width: 1024px) {
  .blog-cards-section {
    padding: 6.5625rem 0 7.5rem 0;
  }
}
@media (max-width: 350px) {
  .blog-cards-section {
    padding: 0.375rem 0 3.75rem 0;
  }
  .blog-cards-section__title {
    font-size: 2rem;
    line-height: 1.25;
    letter-spacing: -0.01em;
  }
}