.recall {
  padding-top: 12.5rem;
  padding-bottom: 12.65rem;
  padding-left: 13.3125rem;
}
.recall__person {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 1.6875rem;
}
.recall__name {
  font-weight: 400;
  font-size: 0.88rem;
  line-height: 1.71429;
  color: var(--aluminium);
}
.recall__title {
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 1.19444;
  letter-spacing: -0.02em;
  color: var(--white);
  max-width: 55.375rem;
  margin-bottom: 1rem;
}
.recall__date {
  font-weight: 400;
  font-size: 0.88rem;
  line-height: 1.71429;
  color: var(--aluminium);
  margin-bottom: 3rem;
}
.recall__text {
  max-width: 51.875rem;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.33333;
  letter-spacing: -0.01em;
  color: var(--aluminium);
  margin-bottom: 1.5rem;
}
.recall__go-back {
  margin-top: 1.3125rem;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--white);
  background: var(--navy-blue);
  border-radius: 0.5rem;
  padding: 0.88rem 1.5rem;
}

@media (max-width: 1024px) {
  .recall {
    padding: 6.125rem 0 6.4125rem 0rem;
  }
  .recall__title {
    font-size: 4rem;
    line-height: 1;
  }
}
@media (max-width: 500px) {
  .recall {
    padding: 5.625rem 0 3.35rem 0rem;
  }
  .recall__title {
    font-size: 2.5rem;
    line-height: 1.2;
    letter-spacing: -0.01em;
  }
  .recall__go-back {
    margin-top: 2.25rem;
  }
}