@use "./mixins.scss";
.main-title {
	font-weight: 700;
	font-size: 4.5rem;
	line-height: 1.19444;
	letter-spacing: -0.02em;
	color: var(--white);
	margin-bottom: mixins.rem(16);
	@media (max-width: 1024px) {
		font-size: 4rem;
		line-height: 1;
	}
	@media (max-width: 350px) {
		font-size: calc(40px + 24 * ((100vw - 320px) / (1024 - 320)));
		margin-bottom: mixins.rem(22);
	}
}

.main-title--about {
	max-width: 40.38rem;
}
.main-title__title-mark {
	color: var(--aluminium);
}

.main-title__title-point {
	color: var(--lime-green);
}
.main-title--low {
	max-width: mixins.rem(809);
}
@media (max-width: 350px) {
	.main-title--low {
		font-weight: 700;
		font-size: 2.5rem;
		line-height: 1.2;
		letter-spacing: -0.01em;
	}
}
