@use "mixins.scss";

.about-first-screen {
	padding-top: mixins.rem(447);
	padding-bottom: mixins.rem(120);

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: end;
		position: relative;
	}
	.overlay {
		position: absolute;
		left: 50%;
		top: 36%;
		transform: translate(-50%);

		z-index: 0;
	}
	&__overlay-image {
		position: absolute;
		z-index: 0;
		width: 100%;
		height: 100%;
	}
	&__photo {
		position: relative;
		z-index: -1;
	}
	&__title-block {
	}

	&__subtitle {
		font-weight: 400;
		font-size: 1.5rem;
		line-height: 1.33;
		letter-spacing: -0.01em;
		color: var(--aluminium);
	}

	&__social-block {
		max-width: mixins.rem(75);
		width: 100%;
		font-weight: 400;
		font-size: 0.88rem;
		line-height: 1.71;
		color: var(--white);
	}
	&__social-item {
		font-family: var(--font-family);
		font-weight: 400;
		font-size: 0.88rem;
		line-height: 1.71;
		color: var(--white);
	}
	&__social-item:hover {
		color: var(--aluminium);
	}
	&__social-item:not(:last-child) {
		margin-bottom: mixins.rem(8);
	}
}

@media (max-width: 1024px) {
	.about-first-screen {
		padding: mixins.rem(598) 0 mixins.rem(120) 0;
		.overlay {
			top: 36%;
		}
		&__container {
		}

		&__title-block {
		}

		&__subtitle {
		}

		&__social-block {
		}

		&__social-item {
		}
	}
	.main-title {
		&__title-mark {
		}

		&__title-point {
		}
	}
	.main-title_about {
	}
}
@media (max-width: 500px) {
	.about-first-screen {
		padding: mixins.rem(500) 0 mixins.rem(45) 0;
		.overlay {
			top: 35%;
		}
		&__container {
			flex-wrap: wrap;
		}
		.main-title_about {
			font-size: 2.5rem;
			line-height: 1.2;
			letter-spacing: -0.01em;
			margin-bottom: 0.8rem;
		}
		&__title-block {
			width: 100%;
		}

		&__subtitle {
			margin-bottom: 3rem;
		}

		&__social-block {
			display: flex;
			gap: mixins.rem(39);
		}

		&__social-item {
		}
	}
	.main-title {
		&__title-mark {
		}

		&__title-point {
		}
	}
	.main-title_about {
	}
}
@media (max-width: 414px) {
	.about-first-screen {
		.overlay {
			top: 34%;
		}
	}
}
@media (max-width: 413px) {
	.about-first-screen__social-block {
		display: flex;
		gap: mixins.rem(25);
	}
}
// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
.about-cards {
	padding: mixins.rem(120) 0;
	&__container {
	}

	&__title {
		text-align: center;
		font-weight: 700;
		font-size: 3rem;
		line-height: 1.16;
		letter-spacing: -0.02em;
		text-align: center;
		color: var(--white);
		margin-bottom: mixins.rem(15);
	}

	&__text {
		margin: 0 auto;
		max-width: 40rem;
		font-family: var(--font-family);
		font-weight: 400;
		font-size: 0.88rem;
		line-height: 1.71;
		text-align: center;
		color: var(--aluminium);
		margin-bottom: mixins.rem(47.2);
	}
}
@media (max-width: 1024px) {
	.about-cards {
		padding: mixins.rem(80) 0;
		&__text {
			margin-bottom: mixins.rem(68);
		}
	}
}
@media (max-width: 414px) {
	.about-cards {
		padding: mixins.rem(35) 0 mixins.rem(14);
		&__title {
			font-size: 2rem;
			line-height: 1.25;
			letter-spacing: -0.01em;
			margin-bottom: mixins.rem(18);
		}
		&__text {
			margin-bottom: mixins.rem(48);
			font-size: 0.88rem;
			line-height: 1.71;
		}
	}
}

// *************************************************************

.big-num {
	padding: mixins.rem(120) 0;
	&__container {
		display: flex;
		flex-wrap: wrap;

		gap: mixins.rem(32);
	}

	&__item {
		flex: 1 1 200px;
		max-width: mixins.rem(398);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__number {
		font-weight: 700;
		font-size: 4rem;
		line-height: 1;
		letter-spacing: -0.02em;
		color: var(--white);
		margin-bottom: mixins.rem(16);
	}

	&__text {
		text-align: center;
		font-weight: 400;
		font-size: 0.88rem;
		line-height: 1.71;
		text-align: center;
		color: var(--aluminium);
	}
}
@media (max-width: 1024px) {
	.big-num {
		padding: mixins.rem(121) 0 mixins.rem(115) 0;
		&__container {
			gap: mixins.rem(93);
		}
		&__item {
			max-width: mixins.rem(219);
		}
		&__number {
			font-size: 3rem;
			line-height: 1.16;
			letter-spacing: -0.02em;
		}
	}
}
@media (max-width: 670px) {
	.big-num {
		padding: mixins.rem(77.8) 0 mixins.rem(50.6) 0;
		&__container {
			flex-direction: column;
			align-items: center;
			gap: 2.1rem;
		}
		&__item {
		}
	}
}
@media (max-width: 414px) {
	.big-num {
		&__container {
			flex-direction: row;
			flex-wrap: wrap;
		}
		&__item {
			max-width: 100%;
			justify-content: start;
		}
		&__number {
			font-size: 2.5rem;
			line-height: 1.2;
			letter-spacing: -0.01em;
		}
		&__text {
			text-align: start;
			font-weight: 400;
			font-size: 0.85rem;
			line-height: 1.71;
		}
	}
}

// =======================================================================
.experience {
	padding: mixins.rem(120) 0 mixins.rem(120) 0;
	&__container {
		display: flex;

		justify-content: space-between;
	}

	&__text-block {
		max-width: 40.38rem;
		position: relative;
	}

	&__title {
		font-weight: 700;
		font-size: 3rem;
		line-height: 1.16;
		letter-spacing: -0.02em;
		color: var(--white);
		margin-bottom: mixins.rem(15);
	}

	&__text {
		font-weight: 400;
		font-size: 0.88rem;
		line-height: 1.7;
		color: var(--aluminium);
	}

	&__sub-text {
		font-weight: 400;
		font-size: 0.88rem;
		line-height: 1.7;
		color: var(--aluminium);
		position: absolute;
		bottom: 0;
	}

	&__narrow-card-block {
		max-width: mixins.rem(440);
		width: 100%;
	}
}
@media (max-width: 1024px) {
	.experience {
		padding: mixins.rem(88) 0 mixins.rem(120) 0;
		&__container {
		}

		&__text-block {
			max-width: mixins.rem(438);
		}

		&__title {
			font-size: 3rem;
			line-height: 1.15;
			letter-spacing: -0.02em;
		}

		&__text {
		}

		&__sub-text {
		}

		&__narrow-card-block {
			max-width: mixins.rem(300);
		}
	}
	.narrow-card {
		&__icon {
		}

		&__text {
		}

		&__title {
		}

		&__description {
		}
	}
	.narrow-card_active {
	}
}
@media (max-width: 770px) {
	.experience__container {
		flex-wrap: wrap;
	}
	.experience__sub-text {
		position: static;
	}
}
@media (max-width: 500px) {
	.experience {
		padding: mixins.rem(40) 0 mixins.rem(46.4) 0;
		&__container {
		}

		&__text-block {
			max-width: mixins.rem(438);
			margin-bottom: mixins.rem(53);
		}

		&__title {
			font-weight: 700;
			font-size: 2rem;
			line-height: 1.25;
			letter-spacing: -0.01em;
		}

		&__text {
			font-family: var(--font-family);
			font-weight: 400;
			font-size: 0.85rem;
			line-height: 1.7;
			color: var(--aluminium);
			margin-bottom: mixins.rem(48);
		}

		&__sub-text {
			position: static;
		}

		&__narrow-card-block {
			max-width: 25rem;
		}
	}
	.narrow-card {
		&__icon {
		}

		&__text {
		}

		&__title {
		}

		&__description {
		}
	}
}
