@use "mixins.scss";
@use "_card.scss";
@use "_variables.scss";
.first-screen {
	padding-top: mixins.rem(206.2);
	padding-bottom: mixins.rem(115);
	position: relative;
	z-index: -1;

	@media (max-width: 1024px) {
		padding-top: mixins.rem(191);
		padding-bottom: mixins.rem(100);
		.first-screen__title {
			margin-bottom: 1rem;
		}
		.first-screen__description {
			margin-bottom: 1.8rem;
		}
		.first-screen__button {
			margin-bottom: 5.05rem;
		}
	}

	@media (max-width: 768px) {
		padding: mixins.rem(90) 0 mixins.rem(45);
	}
	@media (max-width: 414px) {
		padding-top: mixins.rem(181.6);
		padding-bottom: mixins.rem(49);
	}
	&__container {
	}

	&__description {
		font-weight: 400;
		font-size: 1.5rem;
		line-height: 1.33333;
		letter-spacing: -0.01em;
		color: var(--aluminium);
		margin-bottom: 2rem;

		@media (max-width: 414px) {
			font-size: calc(15.2px + 8 * ((100vw - 320px) / (1024 - 320)));
			line-height: 1.5;
			margin-bottom: 2rem !important;
		}
	}

	&__button {
		margin-bottom: mixins.rem(76);
		@media (max-width: 760px) {
			margin-bottom: mixins.rem(60);
		}
		@media (max-width: 414px) {
			margin-bottom: mixins.rem(60) !important;
		}
	}

	&__card-block {
	}
}
.first-screen_hiden {
	.first-screen__container {
		will-change: opacity;
		transform: translateZ(0);
		opacity: 0;
	}
}
.first-screen_animate {
	.first-screen__animate-item {
		will-change: transform, opacity;
		opacity: 0;
		animation: slideIn 1s ease-out forwards;
	}

	.first-screen__animate-item:nth-child(1) {
		animation-delay: 0s;
	}

	.first-screen__animate-item:nth-child(2) {
		animation-delay: 0.5s;
	}

	.first-screen__animate-item:nth-child(3) {
		animation-delay: 1s;
	}
	.first-screen__animate-item:nth-child(4) {
		animation-delay: 1.5s;
	}
}
@keyframes slideIn {
	0% {
		opacity: 0;
		transform: translateX(100vh);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@-webkit-keyframes slideIn {
	0% {
		opacity: 0;
		-webkit-transform: translateX(100vh);
		transform: translateX(100vh);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}
.background-circle {
	will-change: transform, opacity;
	transform: translateZ(0);
	position: absolute;
	z-index: 10;
	width: 100px;
	height: 100px;
	top: 0;
	background-color: #d1d1d1; /* Цвет круга */
	border-radius: 50%;
	animation: expandBackground 1s ease-in-out forwards;
}
@keyframes expandBackground {
	0% {
		transform: scale(1);
		opacity: 1;
	}

	100% {
		transform: scale(35);
		opacity: 0;
		display: none;
	}
}
@-webkit-keyframes expandBackground {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}

	100% {
		-webkit-transform: scale(35);
		transform: scale(35);
		opacity: 0;
		display: none;
	}
}
.background-block-wrapper {
	position: absolute;
	top: 0;
	width: 100%;
	height: 110vh;
	display: flex;
	gap: 20px;
	justify-content: center;
	z-index: -1;
}
.background-block {
	will-change: transform, opacity;
	opacity: 0;
	width: 30vw;
	height: 100vh;
	background: #456;
	-webkit-animation: slide-top 2s both;
	animation: slide-top 1s both;
}
.background-block:nth-child(1) {
	animation-delay: 1s;
}
.background-block:nth-child(2) {
	animation-delay: 1.3s;
}
.background-block:nth-child(3) {
	animation-delay: 1.4s;
}
@-webkit-keyframes slide-top {
	0% {
		-webkit-transform: translateY(100%);
		transform: translateY(100%);
	}
	100% {
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
	}
}
@keyframes slide-top {
	0% {
		-webkit-transform: translateY(100%);
		transform: translateY(100%);
	}
	50% {
		opacity: 1;
	}
	100% {
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
		opacity: 0;
	}
}

// big posters sections

.big-posters {
	padding-top: mixins.rem(121.6);
	padding-bottom: mixins.rem(120);

	&__container {
	}
}
.big-poster {
	position: relative;
	max-width: 100%;
	height: mixins.rem(750);
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 100% auto;

	&__text {
		position: absolute;
		bottom: 2.27rem;
		left: 2.31rem;
		border-radius: 0.5rem;
		padding: 1.3rem;
		background: var(--steel-gray);
		font-family: var(--font-family);
		font-weight: 600;
		font-size: 0.88rem;
		line-height: 1.71429;
		color: var(--white);
	}

	&__icon {
		border-radius: 0.5rem;
		width: 2.75rem;
		height: 2.75rem;
		background: var(--steel-gray);
		position: absolute;
		bottom: 2.275rem;
		right: 2.6125rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
.big-poster__icon_lime {
	background-color: var(--lime-green);
}
.big-poster:not(:last-child) {
	margin-bottom: 80px;
}
.big-poster_1 {
	background-image: url("/images/WorkCard(1).png");
}
.big-poster_2 {
	background-image: url("/images/WorkCard.png");
}
.big-poster_3 {
	background-image: url("/images/WorkCard(2).png");
}
@media (max-width: 1260px) {
	.big-poster {
		height: calc(260px + 490 * ((100vw - 320px) / (1260 - 320)));
	}
}
@media (max-width: 1024px) {
	.big-posters {
		padding: mixins.rem(100) 0;
	}
	.big-poster {
		padding: mixins.rem(100) 0;

		&__text {
			left: 1.81rem;
			bottom: 3.5rem;
		}
		&__icon {
			bottom: 3.5rem;
			right: 1.91rem;
		}
	}
	.big-poster_1 {
		background-image: url("/images/WorkCardmid.png");
	}
	.big-poster_2 {
		background-image: url("/images/WorkCardmid(2).png");
	}
	.big-poster_3 {
		background-image: url("/images/WorkCardmid(1).png");
	}
	.big-poster:not(:last-child) {
		margin-bottom: 63px;
	}
}
@media (max-width: 768px) {
	.big-posters {
		padding: mixins.rem(45) 0 mixins.rem(40) 0;
	}
	.big-poster {
		&__text {
			padding: 10px 15px;
			left: 0rem;

			max-width: 17.25rem;
		}
		&__icon {
		}
	}
}
@media (max-width: 500px) {
	.big-poster_1 {
		background-image: url("/images/1.png");
	}
	.big-poster_2 {
		background-image: url("/images/2.png");
	}
	.big-poster_3 {
		background-image: url("/images/3.png");
	}
	.big-posters {
		padding: mixins.rem(45) 0 mixins.rem(40) 0;
	}
	.big-poster {
		height: mixins.rem(268);
		&__text {
			bottom: mixins.rem(10);
			left: mixins.rem(-1);
		}
		&__icon {
			bottom: mixins.rem(23);
			right: mixins.rem(13.4);
		}
	}
	.big-poster:not(:last-child) {
		margin-bottom: mixins.rem(41.8);
	}
}
@media (max-width: 414px) {
	.big-posters {
		padding-bottom: mixins.rem(30);
	}
	.big-poster {
		&__icon {
			right: mixins.rem(15);
			bottom: mixins.rem(24.4);
		}
	}
}

// section-with-img====================================
.section-with-img {
	padding-top: mixins.rem(120);
	padding-bottom: mixins.rem(120);
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		column-gap: 30px;
		row-gap: 50px;
	}

	&__text {
		max-width: 33.19rem;
		flex: 1 1 400px;
		font-weight: 400;
		font-size: 0.88rem;
		line-height: 1.71429;
		color: var(--aluminium);
	}

	&__title {
		font-weight: 700;
		font-size: 3rem;
		line-height: 1.16667;
		letter-spacing: -0.02em;
		color: var(--white);
		margin-bottom: 1rem;
	}

	&__description:not(:last-child) {
		margin-bottom: 1rem;
	}

	&__img {
		max-width: 600px;

		img {
			width: 100%;
		}
	}
}
@media (max-width: 1024px) {
	.section-with-img__text {
		max-width: mixins.rem(414);
	}
	.section-with-img {
		padding-top: mixins.rem(73.4);
		padding-bottom: mixins.rem(75);
		&__container {
			flex-wrap: wrap;
		}

		&__title {
			max-width: 24.15rem;
		}
		&__description {
			max-width: 24.25rem;
		}
	}
	.section-with-img__img_position-botom {
		padding: mixins.rem(120) 0;
		.section-with-img__text {
			max-width: mixins.rem(358);
			margin-bottom: 0;
		}
	}
}
@media (max-width: 890px) {
	.section-with-img {
		&__container {
			flex-direction: column;
		}
		&__img {
			max-width: mixins.rem(500);
			width: 100%;
		}
		&__text {
			max-width: mixins.rem(500);
			width: 100%;
		}
		&__description {
			max-width: mixins.rem(500);
			width: 100%;
		}
		&__title {
			max-width: mixins.rem(500);
			width: 100%;
		}
	}
}
@media (max-width: 414px) {
	.section-with-img {
		padding-top: mixins.rem(50);
		// padding-bottom: mixins.rem(50);
		&__container {
			display: block;
		}
	}
	.section-with-img__title {
		max-width: mixins.rem(300);
		font-size: 2rem;
		line-height: 1.25;
		letter-spacing: -0.01em;
	}
	.section-with-img__text {
		max-width: 34.15rem;
		margin-bottom: 2.9rem;
	}
	.section-with-img__img_position-botom {
		padding-top: mixins.rem(42);
		padding-bottom: mixins.rem(45);
		.section-with-img__img {
			margin-bottom: 3.8rem;
		}
		.section-with-img__title {
			max-width: 20rem;
		}
	}
}

// strange section++++++++++++++++++++++++++++++++++++++
.strange-section {
	padding: mixins.rem(120) 0;
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 0.88rem;
	line-height: 1.71429;
	color: var(--aluminium);
	&__container {
		display: flex;
		justify-content: space-between;
	}

	&__text-block {
		flex: 1 1 20.81rem;
		position: relative;
		font-family: var(--font-family);
		font-weight: 400;
		font-size: 0.88rem;
		line-height: 1.71429;
		color: var(--aluminium);
		max-width: 40.38rem;
		width: 100%;
	}

	&__title {
		font-family: var(--font-family);
		font-weight: 700;
		font-size: 3rem;
		line-height: 1.16667;
		letter-spacing: -0.02em;
		color: var(--white);
		margin-bottom: 1rem;
	}

	&__description {
		max-width: mixins.rem(531);
	}

	&__text {
		position: absolute;
		bottom: -3px;
		left: 0;
	}

	&__comment-card-block {
	}
}
.comment-card-block {
	&__comment-card {
	}
}
.comment-card {
	max-width: 27.38rem;
	display: flex;
	padding: 1.25rem;
	gap: mixins.rem(24);
	&__avatar {
	}

	&__text {
	}
	&__description {
		margin-bottom: mixins.rem(24);
	}
	&__author {
		font-weight: 600;
		font-size: 1.5rem;
		line-height: 1.33333;
		color: var(_white);
		margin-bottom: mixins.rem(4);
	}

	&__position {
		font-weight: 400;
		font-size: 0.75rem;
		line-height: 1.66667;
		color: var(--white);
	}
}
.comment-card_active {
	border-radius: 0.5rem;
	background: var(--steel-gray);
}
.comment-card:not(:last-child) {
	margin-bottom: mixins.rem(39);
}

@media (max-width: 1024px) {
	.strange-section {
		padding-top: calc(16px + 104.8 * ((100vw - 414px) / (1024 - 414)));
		padding-bottom: calc(48px + 74.2 * ((100vw - 414px) / (1024 - 414)));

		&__container {
		}

		&__text-block {
		}

		&__title {
			max-width: mixins.rem(315);
		}

		&__description {
			max-width: mixins.rem(330);
		}

		&__text {
		}

		&__comment-card-block {
		}
	}
	.comment-card-block {
	}
	.comment-card {
		&__avatar {
		}

		&__text {
		}

		&__description {
		}

		&__author {
		}

		&__position {
		}
	}
	.comment-card_active {
	}
}
@media (max-width: 786px) {
	.strange-section__container {
		flex-wrap: wrap;
		justify-content: center;
	}
	.strange-section__text {
		position: static;
	}
	.strange-section__text-block {
		max-width: 25.38rem;
	}
}
@media (max-width: 414px) {
	.strange-section {
		&__container {
			flex-wrap: wrap;
		}

		&__text-block {
		}

		&__title {
			font-size: 2rem;
			line-height: 1.25;
			letter-spacing: -0.01em;
			max-width: mixins.rem(315);
		}

		&__description {
			max-width: mixins.rem(330);
			font-size: 0.85rem;
			line-height: 1.71429;
			margin-bottom: mixins.rem(48);
		}

		&__text {
			position: relative;
			margin-bottom: mixins.rem(60);
		}

		&__comment-card-block {
		}
	}
	.comment-card-block {
		gap: 1rem;
	}
	.comment-card {
		&__avatar {
		}

		&__text {
		}

		&__description {
			font-size: 0.88rem;
			line-height: 1.71429;
		}

		&__author {
			font-size: 1.45rem;
			line-height: 1.33333;
		}

		&__position {
		}
	}
	.comment-card_active {
	}
	.comment-card:not(:last-child) {
		margin-bottom: mixins.rem(15);
	}
}

// inform section ========================================

.inform-section {
	padding-top: mixins.rem(123.4);
	padding-bottom: mixins.rem(121.8);
	&__container {
		display: flex;
		justify-content: space-between;
		// flex-wrap: wrap;
		align-items: center;
	}

	&__title {
		font-weight: 700;
		font-size: 3rem;
		line-height: 1.16667;
		letter-spacing: -0.02em;
		color: var(--white);
		max-width: mixins.rem(646);
	}

	&__description-block {
		display: flex;
		gap: mixins.rem(32);
		margin-right: mixins.rem(30);
	}

	&__description {
		max-width: 194px;
		font-weight: 400;
		font-size: 0.88rem;
		line-height: 1.71429;
		color: var(--aluminium);
	}
	span {
		display: block;
		font-weight: 700;
		font-size: 2.5rem;
		line-height: 1.2;
		letter-spacing: -0.01em;
		color: var(--white);
		margin-bottom: 1.1rem;
	}
}

@media (max-width: 1024px) {
	.inform-section {
		padding-top: 5.15rem;
		padding-bottom: 4.95rem;

		&__container {
			flex-wrap: wrap;
		}

		&__title {
			max-width: mixins.rem(525);
			font-size: 3rem;
			line-height: 1.16667;
			letter-spacing: -0.02em;
		}

		&__description-block {
			flex-direction: column;
			margin: 0;
			gap: mixins.rem(35);
		}

		&__description {
			max-width: mixins.rem(194);
			font-size: 0.88rem;
			line-height: 1.71429;
			span {
				font-size: 2.5rem;
				line-height: 1.2;
				letter-spacing: -0.01em;
				margin-bottom: 1rem;
			}
		}
	}
}
@media (max-width: 414px) {
	.inform-section {
		padding: mixins.rem(45) 0;
		&__container {
		}

		&__title {
			font-size: 2rem;
			line-height: 1.25;
			letter-spacing: -0.01em;
			margin-bottom: mixins.rem(50);
		}

		&__description-block {
			font-size: 0.88rem;
			line-height: 1.71429;
		}

		&__description {
			max-width: 100%;
			span {
				font-size: 2rem;
				line-height: 1.25;
				letter-spacing: -0.01em;
			}
		}
	}
}
